{% extends "base.html" %}
{% block container %}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, fugiat? Qui, eius delectus deleniti ducimus ullam omnis nostrum possimus fugiat doloribus quod, debitis nisi, consequuntur veritatis odio ipsum? Modi, nisi.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima asperiores maxime harum velit! Pariatur ipsum minima deleniti eaque a, recusandae vel maxime nam natus ducimus optio tempore. Quaerat, nesciunt expedita.</p>
{% endblock container %}